
.slider {
    visibility: hidden
}

.slider>div:first-child {
    visibility: visible
}

.slider.slick-initialized {
    visibility: visible
}

.banner-slick {
    display: none
}

.banner-slick>div:first-child {
    display: block
}

.banner-slick.slick-initialized {
    display: block
}

@media (min-width: 991px) {
    .img-fluid.hero-banner {
        width:100vw;
        aspect-ratio: 19.17/9;
    }
}

@media (min-width: 991px) {
    .freeflow-container.freeflowhtml {
        max-height:482px
    }
}

/* @media (max-width: 991px) {
    .freeflow-container.freeflowhtml {
        max-height:540px
    }
} */