#speakers .speaker-position {
    height: 340px;
    object-fit: cover;
    object-position: center;
}

#speakers.speakes-sec .item-slider-carousel .owl-prev, #speakers.speakes-sec .item-slider-carousel .owl-next {
    top: -30px !important;
    left: unset !important;
    right: 90px;
    width: 50px;
}

#speakers .owl-prev {
    border: none;
    background-color: white;
}
#speakers .owl-next {
    border: none;
    background-color: white;
}

#speakers .item-slider-carousel .owl-prev::after {
    right: 50px;
}

#speakers.speakes-sec .item-slider-carousel .owl-next {
    right: 20px !important;
}

#speakers.speakes-sec .item-slider-carousel .owl-prev, #speakers.speakes-sec .item-slider-carousel .owl-next {
    top: -30px !important;
    left: unset !important;
    right: 90px;
    width: 50px;
}

#speakers .item-slider-carousel .owl-next::after {
    right: -15px;
}