.owl-item{
    /* margin-right: 20px; */
    width: 25%;
}

#why-attend .item-slider-head {
    background-color: #f2f2f2;
}

#why-attend .item-slider-para {
    font-size: 18px;
}

#why-attend .owl-next {
    border: none;
    background-color: #f2f2f2;
    top: -80px !important;
    right: 30px !important;
}

#why-attend .owl-nav {
    background: none;
}

#why-attend .owl-prev {
    border: none;
    background-color: #f2f2f2;
    top: -80px !important;
    left: 550px !important;
}

#why-attend .owl-nav [class*=owl-]:hover {
    background: none;
}

@media (max-width: 767px) {    
    #why-attend .owl-next{
        top: 60px !important;
        right: 0px !important;
    }
    #why-attend .owl-prev{
        top: 60px !important;
        left: 0px !important;
    }
}

@media (min-width: 768px) {    
    #why-attend .owl-prev{
        left: 500px !important;
    }
}

@media (min-width: 992px) {    
    #why-attend .owl-prev{
        left: 700px !important;
    }
}

@media (min-width: 1200px) {    
    /* #why-attend .owl-prev{
        left: 890px !important;
    } */
    #why-attend .owl-nav{
        display: none;
    }
}