
.network-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Space between left and right containers */
  }
  
  .left-container {
    flex: 1;
    max-width: 35%;
    padding-left: 30px;
    font-family: 'Arial', sans-serif;
  }
  
  .right-container {
    flex: 1;
    width: 30%;
    height: auto;
    
    padding-right: 30px;
  }
  
  .network.block > div {
    margin-bottom: 1rem;
  }
  
  .left-container > div {
    margin-bottom: 1rem;
  }
  