
.network-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2px; /* Space between left and right containers */
  }
  
  .left-container {
    flex: 1;
    max-width: 30%;
  }
  
  .right-container {
    flex: 1;
    max-width: 30%;
  }
  
  .network.block > div {
    margin-bottom: 1rem;
  }
  
  .left-container > div {
    margin-bottom: 1rem;
  }
  