
.network-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Space between left and right containers */
  }
  
  .left-container {
    flex: 1;
    max-width: 35%;
    padding-top: 100px;
    padding-left: 100px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
  }
  
  .right-container {
    flex: 1;
    width: 30%;
    padding-top: 100px;
    padding-right: 200px;
    
  }

  .view-more-btn {
    padding: 10px 20px;
    background-color: white; /* Default button color */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .view-more-btn:hover {
    background-color: #d4a44d; /* Yellowish-brown color */
    color: white;
  }
  
  
  .network.block > div {
    margin-bottom: 1rem;
  }
  
  .left-container > div {
    margin-bottom: 1rem;
  }
  