*, ::after, ::before{
    box-sizing: border-box;
}

.accordion-wrapper .accordion-list {
    display: flex;
    min-height: 600px;
    max-height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.accordion-wrapper .enterprise{
    position: relative;
    filter: grayscale(100%);
}

.accordion-wrapper .enterprise .theme-image{
    position: absolute;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.accordion-wrapper li.active.agile,
.accordion-wrapper li.active.ai,
.accordion-wrapper li.active.cloud,
.accordion-wrapper li.active.compass,
.accordion-wrapper li.active.corporate,
.accordion-wrapper li.active.enterprises {
    filter: grayscale(0);
}


ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    list-style-type: none;
}

body{
    font-family: myriad-pro, Arial;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.45;
}

@media (max-width: 767px){
    .accordion-wrapper .accordion-list{
        flex-direction: column;
        max-height: unset;    
    }
}

@media (max-width: 767px){
    .accordion-wrapper .enterprises .theme-image{
        width: 100%
    }
}
