*, ::after, ::before{
    box-sizing: border-box;
}

.accordion-wraper .accordion-list {
    display: flex;
    min-height: 600px;
    max-height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

.accordion-wraper .enterprise{
    position: relative;
    filter: grayscale(100%);
}

.accordion-wraper .enterprise .theme-image{
    position: absolute;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.accordion-wraper li{
    flex: 0;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    transition: all 0.5s ease;
}

.accordion-wraper li .section-content{
    flex: 0;
    display: none;
    margin: 0;
    opacity: 0;
    transition: all 0.25s 0.1s ease-out;
    padding: 3.9rem 4.4rem
}

.accordion-wraper li .section-content h4{
    margin-top: 1rem;
}

.accordion-wraper li.active{
    flex: 5;
    cursor: default;
}

.accordion-wraper li.active .section-title{
    display: none;
}

.accordion-wraper li.active .section-content{
    flex: 4;
    opacity: 1;
    transform: scaleX(1);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.accordion-wraper li.active .section-content h3{
    color: #fff;
    font-weight: 900;
    margin-bottom: 1rem;
}

.accordion-wraper li.active .section-content p{
    color: #fff;
    font-size: 2rem;
    max-width: 33rem;
}

accordion-wraper li.active .section-content .details-link{
    color: #fff;
    max-width: 3rem;
    display: inline-flex;
    flex-direction: column;
}

.accordion-wraper
 li.active
.section-content
.details-link
.icon-long-right-arrow{
    margin-top: 2.2rem;
}

.accordion-wraper
 li.active
.section-content
.details-link
.icon-long-right-arrow::before{
    font-size: 2.2rem;
}

.accordion-wraper li.active.home-overlay::after{
    height: 40rem;
}

.accordion-wraper li .section-title{
    flex: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    z-index: 1;
}

.accordion-wraper li .section-title h4{
    transform: rotate(-90deg);
    white-space: nowrap;
    pading: 6rem 0;
    width: 80px;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 900;
}

.accordion-wraper li.active.agile,
.accordion-wraper li.active.ai,
.accordion-wraper li.active.cloud,
.accordion-wraper li.active.compass,
.accordion-wraper li.active.corporate,
.accordion-wraper li.active.enterprises {
    filter: grayscale(0);
}

.home-overlay{
    position: relative;
}

.home-overlay::after{
    content: "";
    position: absolute;
    background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.8));
    width: 100%;
    height: 40rem;
    left: 0;
    bottom: 0;
}

.recommended-article .recommended-image a.home-overlay::after{
    height: 85px;
}

.featured-wraper
 .recommended-article
 .recommended-image
 a.home-overlay::after{
    height: 19rem;
}

.most-important-vedio
 .important-vedio-mobile
 .vedio-image
 a.home-overlay::after{
    height: 17rem;
}

.podcast-content-wraper
 .podcast-content
 .podcast-article-image
 a.home-overlay::after{
    height: 20rem;
}

.podcast-content-wraper
 .podcast-content
 .podcast-article-image.home-overlay::after{
    height: 20rem;
}

.article-details-related .card.home-overlay::after{
    display: none;
}

.most-important-prespective
 .important-video-mobile
 .vedio-image
 a.home-overlay::after{
     height: 17rem;
 }

.podcast-tabs-wraper
 .tab-content
 .most-important-podcast
 .important-video-mobile
 .vedio-image
 a.home-overlay::after{
     height: 17rem;
 }

.img-fluid{
    max-width: 100%;
    height: auto;
}

ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}  

body{
    font-family: myriad-pro, Arial;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.45;
}

@media (max-width: 767px){
    .accordion-wraper .accordion-list{
        flex-direction: column;
        max-height: unset;    
    }
}

@media (max-width: 767px){
    .accordion-wraper .enterprises .theme-image{
        width: 100%
    }
}

@media (max-width: 767px){
    .accordion-wraper li{
        overflow: hidden;
        height: 0;
    }
}

@media (max-width: 767px){
    .accordion-wraper li.home-overlay::after{
        width: 100%;
        background: linear-gradient(
            to left,
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.98)
        );  
    }
}

