
.home-interests-wraper .interests-main .quality-engg .quality-content {
	width: 57rem;
}
.accordion-wraper {
    background-color: #000;
}
.bg-topaz-dark-sidebar {
	background-color: #09321D !important;
}
.banner-main .btn.btn-secondary {
	background: #0271b1;
}
.banner-main .btn.btn-secondary:hover {
	background: #0271b1 !important;
}
.find-more .icon-chevron-right-circle-white::before {
    color: #0271b1 !important;
}
.inner-details .find-more {
	color: #00578A !important;
}
.insights-wraper, .article-wraper, .interactive-wraper, .podcast-wraper {
	background-color: #0c1220 !important;
}
.iki-subscribtion-footer .box {
    background-color: #ab6604 !important;
}
.banner-wraper {
    background-color: #000;
}

@media screen and (max-width: 767px) { 
.home-interests-wraper .interests-main .quality-engg .quality-content {
	width: auto;
}
}